@import './common_comment.scss';

// 公共分页样式
.el-pagination {
  padding-bottom: 10px;

  &.is-background .el-pager li:not(.disabled).active {
    background-color: $mainColor;

    &:hover {
      color: $lightTxtColor;
    }
  }

  &.is-background .el-pager li:not(.disabled):hover {
    color: $mainColor;
  }
}