$sideBarWidth: 160px;
$contentWidth: calc(100% - 160px);

$baseFontWeight: 500;

$sideBarBg: #f8f8f8;
$mainColor: #1890ff;
$baseTxtColor: #464545;
$baseTxtActiveColor: #000000;
$lightTxtColor: #ffffff;
